.parent {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 15px;
}

.title {
    -fx-font-weight: bold;
}

.title-warning {
    -fx-text-fill: red;
}

.input-field {
    -fx-border-width: 4px;
    -fx-border-color: #717ED2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.master_link:hover {
    -fx-cursor: hand;
    -fx-text-fill: #000000;
}

.master_link {
    -fx-text-fill: #717ED2;
}

.master_button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #000000;
    -fx-background-color: #FFFFFF;
}

.master_button {
    -fx-background-color: #717ED2;
    -fx-text-fill: #FFFFFF;
}

.master-dashboard{
    -fx-background-color: #E7E5DF;
}

.dashboard-top{
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #000000;
    -fx-border-style: solid;
}

.dashboard-navbar {
    -fx-min-width: 200px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: transparent;
    -fx-border-style: none;
}

.dashboard-navbar:hover {
    -fx-background-color: transparent;
}

.dashboard-navbar:focused, .dashboard-navbar:hover {
    -fx-background-color: transparent;
}

/* Style for the MenuButton's drop-down arrow */
.dashboard-navbar .arrow {
    -fx-background-color: #2980b9; /* Color of the arrow */
}

.dashboard-navbar .menu-item:hover {
    -fx-text-fill: white;
    -fx-background-color: #34495e; /* Background color on hover */
}

#btn_log_out {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#btn_log_out:hover{
    -fx-background-color: #34495e;
    -fx-text-fill: #FFFFFF;
}
